<div class="layout-container">
  <header>{{ page.header }}</header>
  <main>
    <div class="shop-page container">
      <div class="shop-page__header">
        {{ drupal_block('system_breadcrumb_block') }}
      </div>
      <div class="shop-page__content">
        {{ page.left_sitebar }}
        {{ page.content }}
      </div>
    </div>
  </main>
  <footer>{{ page.footer }}</footer>
</div>
